[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cvCovEst"]
	path = cvCovEst
	url = https://github.com/philboileau/cvcovest
[submodule "neatmaps"]
	path = neatmaps
	url = https://github.com/philboileau/neatmaps
